/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Crimson Text", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 14px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.95rem;
  --fontSize-1: 1.1rem;
  --fontSize-2: 1.3rem;
  --fontSize-3: 1.5rem;
  --fontSize-4: 1.65rem;
  --fontSize-5: 1.85rem;
  --fontSize-6: 2rem;
  --fontSize-7: 2.5rem;
  --color-primary:#329f5b;
  --color-primary-dark:#0c7a4a;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #0c674b;
  /* #044736; */
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-primary-gray: #b1bfb6;
  --color-code-background: #f4f4f4;
}

body {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  padding: 0 var(--spacing-1);
}

main {
  flex: 1;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  background: #f1f1f1;
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  max-width: var(--maxWidth-lg);
}

/* divider */

hr {
  background: none;
  /* background: var(--color-accent); */
  border-bottom: 8px solid var(--color-heading);
  /* border-bottom: 6px solid white; */
  border-top: none;
  margin: var(--spacing-12) 0;
}

section hr {
  background: none;
  height: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #dbebe4;
  margin: var(--spacing-4) 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: var(--lineHeight-tight);
  /* letter-spacing: -0.025em; */
}

h1,
h2,
h3{
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
}

h4,
h5,
h6{
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-4);

}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-7);
  color: var(--color-heading-black);
}

h2 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
  padding: var(--spacing-0);
}

.no-margin-title{
  font-weight: var(--fontWeight-bold);
  margin: 0;
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-4);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-5));
  margin-right: var(--spacing-8);
  padding: var(--spacing-1) var(--spacing-0) var(--spacing-1) var(--spacing-5);
  border-left: var(--spacing-1) solid var(--color-primary-dark);
  font-size: var(--fontSize-1);
  font-style: italic;
  margin-bottom: var(--spacing-4);
  line-height: var(--lineHeight-relaxed);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

/* notecard */

.notecard{
  border-left: 6px solid var(--color-primary-gray);
  margin: var(--spacing-4) 0;
  padding: 0 var(--spacing-3);
  font-size: var(--fontSize-1);
}

/* table */

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  /* border-bottom: 1px solid var(--color-accent); */
}

tr:nth-of-type(odd){
    background-color: #ededed;
}

td,
th{
  padding: var(--spacing-3) 0 var(--spacing-3) var(--spacing-6);
}

code.language-text{
  text-shadow: none !important;
  font-size : var(--fontSize-0) !important;
  color: #000000 !important;
  background-color: var(--color-code-background) !important;
}

th{
  text-align: left;
  background-color: var(--color-primary-gray);
  color: #ffffff;
}

td code.language-text{
  background-color: transparent !important;
}

h5 code.language-text{
  font-weight: var(--fontWeight-bold) !important;
  font-size: var(--fontSize-2) !important;
}

/* paragraph spacing */

.gatsby-highlight{
  margin-bottom: var(--spacing-4);
}

.final-paragraph{
  margin-top: var(--spacing-12);
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  color: var(--color-primary);
  text-decoration: none;
}

/* Code Style */

.language-javascript .token.operator {
  background-color: transparent;
}

pre[class*="language-"] {
  background-color: var(--color-code-background) !important;
}

code[class*="language-"]{
  color: #363636 !important;
  text-shadow: none !important;
}

.token.comment{
  color: #b2b3b4 !important;
  text-shadow: 0 1px white !important;
}

/* emoji fix */

.emoji-fix{
  font-weight: 400;
}

/* footer */

footer h4 {
  margin-bottom: var(--spacing-4);
  margin-top: var(--spacing-0);
}

footer h4 a{
  font-weight: var(--fontWeight-black);
  /* font-size: var(--fontSize-2); */
  color: var(--color-heading);
}

/* Custom classes */

.global-wrapper {
  background: #ffffff;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-16);
}

/* 
.global-header {
  
} */

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0 0 var(--spacing-12) 0;
}

.post-list-item {
  margin-bottom: var(--spacing-12) !important;
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}


.post-list-item h3 {
  font-weight: var(--fontWeight-black);
  color: var(--color-primary-dark);
  margin-bottom: var(--spacing-3);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-1);
}

.header-link-home {
  font-weight: var(--fontWeight-black);
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--color-heading);
  font-size: var(--fontSize-4);
  letter-spacing: -0.035em;
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 60px;
  border-radius: 100%;
}

.blog-post header h1 {
  margin:  var(--spacing-16) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

/* .blog-post section h3 {
  margin-top: var(--spacing-8);
} */

.blog-post header p {
  font-size: var(--fontSize-1);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-8);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.inline-text-larger-font {
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-extrabold);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}